{% extends 'base.html.twig' %}

{% block title %}Edit product{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" value="Edit" class="btn btn-info butt2">Edit</button>
{{ form_end(form) }}

{% endblock %}
   